<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>Novo Ambiente</title>
  </head>
  <body>
    <h1>Cadastrar novo ambiente</h1>
    <form method="post">
      <label>Nome:<br>
        <input type="text" name="nome" required>
      </label><br>
      <label>Prédio:<br>
        <input type="text" name="predio" required>
      </label><br>
      <label>Tipo:<br>
        <input type="text" name="tipo" required>
      </label><br>
      <button type="submit">Salvar</button>
    </form>
    <p><a href="/">Voltar</a></p>
  </body>
</html>
