<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Argos Segurança AI | CNAK Vision</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<aside class="sidebar">
    <div class="brand">
        <img src="{{ url_for('static', filename='img/argos-logo.jpg') }}" alt="Argos Segurança" class="brand-logo">
    </div>

    <nav class="menu">
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">
            <span class="menu-icon">🏛️</span>
            <span>Dashboard</span>
        </a>

        <a href="/usuarios" class="{% if request.path.startswith('/usuarios') %}active{% endif %}">
            <span class="menu-icon">👤</span>
            <span>Usuários</span>
        </a>

        <a href="/modulos" class="{% if request.path.startswith('/modulos') %}active{% endif %}">
            <span class="menu-icon">🧩</span>
            <span>Módulos</span>
        </a>

        <a href="/ambientes" class="{% if request.path.startswith('/ambientes') %}active{% endif %}">
            <span class="menu-icon">🏢</span>
            <span>Ambientes</span>
        </a>

     <a href="/equipamentos" class="{% if request.path.startswith('/equipamentos') %}active{% endif %}">
    <span class="menu-icon">⚙️</span>
    <span>Equipamentos</span>
</a>

<a href="/distribuicao" class="{% if request.path.startswith('/distribuicao') %}active{% endif %}">
    <span class="menu-icon">🔄</span>
    <span>Distribuição</span>
</a>   
    </nav>

    <div class="system-card">
        <strong>🛡️ Sistema Seguro</strong>
        <small>Todos os sistemas operacionais</small>
    </div>

    <div class="client-card">
        <p>Cliente: <strong>CNAK Vision</strong></p>
        <small>Versão 1.0.0</small>
    </div>
</aside>

<main class="main">
    <header class="topbar">
        <div class="admin">
    <span>☼</span>
    <span>🔔</span>

    <div class="admin-user">
        <strong>AD</strong>
        <span>Administrador</span>
    </div>

    <a href="/logout" class="logout-btn">
        ⎋ Sair
    </a>
</div>
    </header>

    {% block content %}{% endblock %}
</main>
</body>
</html>
